/* T-SQL compatible with SQL Server 2016 and later */

-- Disable row count messages
SET NOCOUNT ON;

-- Switch to the master database for system operations
USE [master];

-- Drop the 'Cp2396g01_group5_db' database if it exists
DROP DATABASE IF EXISTS [Cp2396g01_group5_db];

-- Create the 'Cp2396g01_group5_db' database with file paths
DECLARE @device_directory NVARCHAR(520);
SELECT @device_directory = SUBSTRING(physical_name, 1, CHARINDEX(N'master.mdf', LOWER(physical_name)) - 1)
FROM master.sys.master_files WHERE database_id = 1 AND file_id = 1;
EXECUTE ('CREATE DATABASE Cp2396g01_group5_db
  ON PRIMARY (NAME = N''Cp2396g01_group5_db_v2016'', FILENAME = N''' + @device_directory + N'Cp2396g01_group5_db_v2016.mdf'')
  LOG ON (NAME = N''Cp2396g01_group5_db_log_v2016'', FILENAME = N''' + @device_directory + N'Cp2396g01_group5_db_v2016.ldf'')');

-- Set database options
ALTER DATABASE [Cp2396g01_group5_db] SET COMPATIBILITY_LEVEL = 130;  -- Set for SQL Server 2016
ALTER DATABASE [Cp2396g01_group5_db] SET QUOTED_IDENTIFIERS ON;  -- Modern syntax
ALTER DATABASE [Cp2396g01_group5_db] SET RECOVERY SIMPLE;
ALTER DATABASE [Cp2396g01_group5_db] SET AUTO_UPDATE_STATISTICS ON;
-- ... (other database options as needed)

-- Switch to the 'Cp2396g01_group5_db' database
USE [Cp2396g01_group5_db];

-- Check exists entity in the database 'Cp2396g01_group5_db'
IF exists (select * from sysobjects where id = object_id('dbo.Sales by Year') and sysstat & 0xf = 4)
	DROP procedure [dbo].[Sales by Year]
GO

IF exists (select * from sysobjects where id = object_id('dbo.OrderByQuarter') and sysstat & 0xf = 2)
	DROP view [dbo].[OrderByQuarter]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Sales Totals by Amount') and sysstat & 0xf = 2)
	DROP view [dbo].[Sales Totals by Amount]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Invoices') and sysstat & 0xf = 2)
	DROP view [dbo].[Invoices]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Order Subtotals') and sysstat & 0xf = 2)
	DROP view [dbo].[Order Subtotals]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Employee_Blog') and sysstat & 0xf = 3)
	DROP table [dbo].[Employee_Blog]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Blogs') and sysstat & 0xf = 3)
	DROP table [dbo].[Blogs]
GO

IF exists (select * from sysobjects where id = object_id('dbo.ImportOrder') and sysstat & 0xf = 3)
	DROP table [dbo].[ImportOrder]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Branch') and sysstat & 0xf = 3)
	DROP table [dbo].[Branch]
GO

IF exists (select * from sysobjects where id = object_id('dbo.ThresholdAdjustment') and sysstat & 0xf = 3)
	DROP table [dbo].[ThresholdAdjustment]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Manager_Genders') and sysstat & 0xf = 3)
	DROP table [dbo].[Manager_Genders]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Employee_Genders') and sysstat & 0xf = 3)
	DROP table [dbo].[Employee_Genders]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Customer_Genders') and sysstat & 0xf = 3)
	DROP table [dbo].[Customer_Genders]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Customer_Card') and sysstat & 0xf = 3)
	DROP table [dbo].[Customer_Card]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Cards') and sysstat & 0xf = 3)
	DROP table [dbo].[Cards]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Managers') and sysstat & 0xf = 3)
	DROP table [dbo].[Managers]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Genders') and sysstat & 0xf = 3)
	DROP table [dbo].[Genders]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Customer_Feedback') and sysstat & 0xf = 3)
	DROP table [dbo].[Customer_Feedback]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Feedbacks') and sysstat & 0xf = 3)
	DROP table [dbo].[Feedbacks]
GO

IF exists (select * from sysobjects where id = object_id('dbo.OrderDetails') and sysstat & 0xf = 3)
	DROP table [dbo].[OrderDetails]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Orders') and sysstat & 0xf = 3)
	DROP table [dbo].[Orders]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Employees') and sysstat & 0xf = 3)
	DROP table [dbo].[Employees]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Products') and sysstat & 0xf = 3)
	DROP table [dbo].[Products]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Customers') and sysstat & 0xf = 3)
	DROP table [dbo].[Customers]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Permissions') and sysstat & 0xf = 3)
	DROP table [dbo].[Permissions]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Brand') and sysstat & 0xf = 3)
	DROP table [dbo].[Brand]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Categories') and sysstat & 0xf = 3)
	DROP table [dbo].[Categories]
GO

IF exists (select * from sysobjects where id = object_id('dbo.InventoryStatus') and sysstat & 0xf = 3)
	DROP table [dbo].[InventoryStatus]
GO

IF exists (select * from sysobjects where id = object_id('dbo.Suppliers') and sysstat & 0xf = 3)
	DROP table [dbo].[Suppliers]
GO

IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id('dbo.trg_Products_UpdateQuantityInStock') AND OBJECTPROPERTY(id, 'IsTrigger') = 1)
	DROP TRIGGER [dbo].[trg_Products_UpdateQuantityInStock]
GO

IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id('dbo.trg_UpdateRestockThreshold') AND OBJECTPROPERTY(id, 'IsTrigger') = 1)
	DROP TRIGGER [dbo].[trg_trg_UpdateRestockThreshold]
GO

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[customerID] [bigint] NOT NULL,
	[employeeID] [bigint] NOT NULL,
	[paymentMethod] [nvarchar](255) NULL,
	[note] [nvarchar](max) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[orderID] [bigint] NOT NULL,
	[productID] [bigint] NOT NULL,
	[unitPrice] [money] NULL,
	[quantity] [int] NULL,
	[discount] [int] NULL,
	[totalPrice] [money] NULL,
	[orderDate] [datetime] NULL,
	[shipDate] [datetime] NULL,
	[shipAddress] [nvarchar](255) NULL,
	[paymentMethod] [nvarchar](255) NULL,
 CONSTRAINT [PK_Order_Details] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC,
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_gender] [bigint] NULL,
	[customer_card] [bigint] NULL,
	[customer_group] [bigint] NULL,
	[username] [nvarchar](50) NULL,
	[password] [varbinary](32) NULL,
	[salt_password] [varbinary](16) NULL,
	[pepper_password] [varbinary](16) NULL,
	[fullname] [nvarchar](255) NULL,
	[address] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](255) NULL,
	[birthDate] [datetime] NULL,
	[imageURL] [nvarchar](255) NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](50) NULL,
	[modifieby] [nvarchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cards]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cards](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[cardName] [nvarchar](255) NULL,
	[cardNumber] [varchar](16) NULL,
	[valueFrom] [datetime] NULL,
	[expirationDate] [datetime] NULL,
	[cvvNumber] [int] NULL,
	[cardType] [nvarchar](20) NULL,
	[point] [bigint] NULL,
	[rank] [nvarchar](50) NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](255) NULL,
	[modifieby] [nvarchar](255) NULL,
 CONSTRAINT [PK_Card] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Card]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Card](
	[customer_ID] [bigint] NOT NULL,
	[card_ID] [bigint] NOT NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](255) NULL,
	[modifieby] [nvarchar](255) NULL,
 CONSTRAINT [PK_Customer_Card] PRIMARY KEY CLUSTERED 
(
	[customer_ID] ASC,
	[card_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[OrderByQuarter]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create view OrderByQuarter
CREATE VIEW [dbo].[OrderByQuarter] AS
SELECT
    ID,
    CustomerID,
    EmployeeID,
    OrderDate,
    ShipDate,
    ShipAddress,
    Note,
    Status,
    FullName,
    Address,
    Phone,
    Email,
    Point,
    Rank,
    CASE
        WHEN MONTH(OrderDate) BETWEEN 1 AND 3 THEN 'Q1'
        WHEN MONTH(OrderDate) BETWEEN 4 AND 6 THEN 'Q2'
        WHEN MONTH(OrderDate) BETWEEN 7 AND 9 THEN 'Q3'
        WHEN MONTH(OrderDate) BETWEEN 10 AND 12 THEN 'Q4'
        ELSE NULL
    END AS Quarter
FROM
    (
        -- Your existing join with Customers and CreditCard
        SELECT
            Orders.ID,
            Orders.CustomerID,
            Orders.EmployeeID,
            OrderDetails.OrderDate,
            OrderDetails.ShipDate,
            OrderDetails.ShipAddress,
            Orders.Note,
            Orders.Status,
            Customers.FullName,
            Customers.Address,
            Customers.Phone,
            Customers.Email,
            Cards.Point,
            Cards.Rank
         FROM
            Customers
            INNER JOIN Orders ON Customers.ID = Orders.CustomerID
            INNER JOIN Customer_Card ON Customer_Card.customer_ID = Customers.ID
            INNER JOIN Cards ON Cards.ID = Customer_Card.card_ID
            INNER JOIN OrderDetails ON OrderDetails.orderID = Orders.ID
    ) AS Subquery;

GO
/****** Object:  Table [dbo].[Products]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[categoryID] [bigint] NOT NULL,
	[brandID] [bigint] NOT NULL,
	[supplierID] [bigint] NOT NULL,
	[productName] [nvarchar](255) NULL,
	[imageURL] [nvarchar](max) NULL,
	[unitPrice] [money] NULL,
	[quantity] [int] NULL,
	[quantityInStock] [int] NULL,
	[unit] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[viewCount] [int] NULL,
	[discount] [int] NULL,
	[avaliable] [bit] NULL,
	[inventoryStatus] [bigint] NOT NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](255) NULL,
	[modifieby] [nvarchar](255) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Invoices]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create view Invoices
CREATE VIEW [dbo].[Invoices] AS
SELECT 
    o.ID AS 'Invoice Number',
    od.orderDate AS 'Order Date',
    c.fullName AS 'Customer Name',
    c.address AS 'Customer Address',
    c.phone AS 'Customer Phone',
    od.productID AS 'Product ID',
    p.productName AS 'Product Name',
    od.unitPrice AS 'Unit Price',
    od.quantity AS 'Quantity',
    od.discount AS 'Discount (%)',
    od.totalPrice AS 'Line Total',
    od.shipAddress AS 'Shipping Address',
    o.note AS 'Notes',
    o.status AS 'Order Status',
    od.paymentMethod AS 'Payment Method',
    cd.cardName AS 'Card Name',
    cd.cardNumber AS 'Card Number (last 4 digits)',
    (SELECT SUM(totalPrice) FROM OrderDetails WHERE orderID = o.ID) AS 'Invoice Total'
FROM Orders o
INNER JOIN Customers c ON o.customerID = c.ID
INNER JOIN OrderDetails od ON o.ID = od.orderID
INNER JOIN Products p ON od.productID = p.ID
INNER JOIN Customer_Card cc ON cc.customer_ID = c.ID
INNER JOIN Cards cd ON cd.ID = cc.card_ID
WHERE o.status = 'Successful';

GO
/****** Object:  View [dbo].[Order Subtotals]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create view Order Subtotals
CREATE VIEW [dbo].[Order Subtotals] AS
SELECT
    OD.OrderID,
    SUM(CONVERT(money, (P.unitPrice * OD.quantity * (1 - OD.Discount) / 100)) * 100) AS Subtotal
FROM
    dbo.OrderDetails AS OD
JOIN
    dbo.Products AS P ON P.ID = OD.productID
GROUP BY
    OD.OrderID;
GO
/****** Object:  View [dbo].[Sales Totals by Amount]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create view Sales Totals by Amount
CREATE VIEW [dbo].[Sales Totals by Amount] AS
SELECT 
    SUM("Order Subtotals".Subtotal) AS SaleAmount, 
    Orders.ID, 
    Customers.fullname, 
    OrderDetails.ShipDate,
    DATEPART(QUARTER, OrderDetails.ShipDate) AS Quarter
FROM 
    Customers 
    INNER JOIN Orders ON Customers.ID = Orders.CustomerID
	INNER JOIN OrderDetails ON Orders.ID = OrderDetails.orderID
    INNER JOIN "Order Subtotals" ON Orders.ID = "Order Subtotals".OrderID
WHERE 
    ("Order Subtotals".Subtotal > 2500)
GROUP BY 
    Orders.ID, 
    Customers.fullname, 
    OrderDetails.ShipDate, 
    DATEPART(QUARTER, OrderDetails.ShipDate);
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[employee_ID] [bigint] NULL,
	[title] [nvarchar](255) NULL,
	[imageURL] [nvarchar](max) NULL,
	[content] [nvarchar](max) NULL,
	[category] [nvarchar](255) NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](255) NULL,
	[modifieby] [nvarchar](255) NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[companyName] [nvarchar](40) NULL,
	[branchName] [nvarchar](50) NULL,
	[address] [nvarchar](255) NULL,
	[city] [nvarchar](15) NULL,
	[phone] [nvarchar](24) NULL,
	[fax] [nvarchar](24) NULL,
	[postalCode] [nvarchar](10) NULL,
	[description] [nvarchar](255) NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](255) NULL,
	[modifieby] [nvarchar](255) NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[supplierID] [bigint] NOT NULL,
	[brandName] [nvarchar](255) NOT NULL,
	[address] [nvarchar](255) NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](255) NULL,
	[modifieby] [nvarchar](255) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](50) NULL,
	[restockThreshold] [int] NULL,
	[newAdjustment] [int] NULL,
	[description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Feedback]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Feedback](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_ID] [bigint] NOT NULL,
	[feedback_ID] [bigint] NOT NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](255) NULL,
	[modifieby] [nvarchar](255) NULL,
 CONSTRAINT [PK_Customer_Feedback] PRIMARY KEY CLUSTERED 
(
	[customer_ID] ASC,
	[feedback_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Genders]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Genders](
	[customer_ID] [bigint] NOT NULL,
	[gender_ID] [bigint] NOT NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](255) NULL,
	[modifieby] [nvarchar](255) NULL,
 CONSTRAINT [PK_Customer_Genders] PRIMARY KEY CLUSTERED 
(
	[customer_ID] ASC,
	[gender_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Blog]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Blog](
	[employee_ID] [bigint] NOT NULL,
	[blog_ID] [bigint] NOT NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](255) NULL,
	[modifieby] [nvarchar](255) NULL,
 CONSTRAINT [PK_Employee_Blog] PRIMARY KEY CLUSTERED 
(
	[employee_ID] ASC,
	[blog_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Genders]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Genders](
	[employee_ID] [bigint] NOT NULL,
	[gender_ID] [bigint] NOT NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](255) NULL,
	[modifieby] [nvarchar](255) NULL,
 CONSTRAINT [PK_Employee_Genders] PRIMARY KEY CLUSTERED 
(
	[employee_ID] ASC,
	[gender_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[employee_gender] [bigint] NULL,
	[employee_group] [bigint] NULL,
	[username] [nvarchar](50) NULL,
	[password] [varbinary](32) NULL,
	[salt_password] [varbinary](16) NULL,
	[pepper_password] [varbinary](16) NULL,
	[fullname] [nvarchar](50) NULL,
	[address] [nvarchar](255) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](255) NULL,
	[birthDate] [datetime] NULL,
	[notes] [nvarchar](max) NULL,
	[imageURL] [nvarchar](max) NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](50) NULL,
	[modifieby] [nvarchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_ID] [bigint] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NULL,
	[date] [datetime] NULL,
	[rate] [int] NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](255) NULL,
	[modifieby] [nvarchar](255) NULL,
 CONSTRAINT [PK_Feedback_Cus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[genderName] [nvarchar](50) NULL,
	[description] [nvarchar](255) NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](255) NULL,
	[modifieby] [nvarchar](255) NULL,
 CONSTRAINT [PK_Genders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportOrder]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportOrder](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[supplierID] [bigint] NOT NULL,
	[categoryID] [bigint] NOT NULL,
	[branchID] [bigint] NOT NULL,
	[companyName] [nvarchar](40) NULL,
	[dateImport] [datetime] NULL,
	[hsCode] [int] NULL,
	[nameProduct] [nvarchar](255) NULL,
	[amountDelivery] [int] NULL,
	[address] [nvarchar](255) NULL,
	[city] [nvarchar](15) NULL,
	[phone] [nvarchar](24) NULL,
	[fax] [nvarchar](24) NULL,
	[postalCode] [nvarchar](10) NULL,
	[description] [nvarchar](255) NULL,
	[status] [nvarchar](50) NULL,
	[leadtime] [int] NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](255) NULL,
	[modifieby] [nvarchar](255) NULL,
 CONSTRAINT [PK_Import] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryStatus]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryStatus](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[statusName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager_Genders]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager_Genders](
	[manager_ID] [bigint] NOT NULL,
	[gender_ID] [bigint] NOT NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](255) NULL,
	[modifieby] [nvarchar](255) NULL,
 CONSTRAINT [PK_Manager_Genders] PRIMARY KEY CLUSTERED 
(
	[manager_ID] ASC,
	[gender_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Managers]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Managers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[manager_gender] [bigint] NULL,
	[manager_group] [bigint] NULL,
	[username] [nvarchar](50) NULL,
	[password] [varbinary](32) NULL,
	[salt_password] [varbinary](16) NULL,
	[pepper_password] [varbinary](16) NULL,
	[fullname] [nvarchar](50) NULL,
	[address] [nvarchar](255) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](255) NULL,
	[imageURL] [nvarchar](max) NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](50) NULL,
	[modifieby] [nvarchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Managers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[permissionName] [nvarchar](50) NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](255) NULL,
	[modifieby] [nvarchar](255) NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[companyName] [nvarchar](255) NULL,
	[contactName] [nvarchar](255) NULL,
	[contactTitle] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[city] [nvarchar](15) NULL,
	[postalCode] [nvarchar](10) NULL,
	[phone] [nvarchar](24) NULL,
	[fax] [nvarchar](24) NULL,
	[homePage] [nvarchar](max) NULL,
	[description] [nvarchar](255) NULL,
	[createdate] [datetime] NULL,
	[modifiedate] [datetime] NULL,
	[createby] [nvarchar](255) NULL,
	[modifieby] [nvarchar](255) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThresholdAdjustment]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThresholdAdjustment](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[categoryID] [bigint] NOT NULL,
	[reasonAdjustment] [nvarchar](50) NULL,
	[new_restockThreshold] [int] NULL,
	[dateAdjusted] [datetime] NULL,
	[statusThresholdAdjustments] [nvarchar](50) NULL,
 CONSTRAINT [PK_Adjustment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([ID], [companyName], [branchName], [address], [city], [phone], [fax], [postalCode], [description], [createdate], [modifiedate], [createby], [modifieby]) VALUES (1, N'ZipMart co.', N'ZipMart Ninh Kieu', N'Ninh Kieu', N'Can Tho', N'555-1111', N'555-2222', N'900000', N'Ninh Kieu Branch', NULL, NULL, NULL, NULL)
INSERT [dbo].[Branch] ([ID], [companyName], [branchName], [address], [city], [phone], [fax], [postalCode], [description], [createdate], [modifiedate], [createby], [modifieby]) VALUES (2, N'ZipMart co.', N'ZipMart Binh Thuy', N'Ninh Kieu', N'Can Tho', N'555-1111', N'555-2222', N'900000', N'Ninh Kieu Branch', NULL, NULL, NULL, NULL)
INSERT [dbo].[Branch] ([ID], [companyName], [branchName], [address], [city], [phone], [fax], [postalCode], [description], [createdate], [modifiedate], [createby], [modifieby]) VALUES (3, N'ZipMart co.', N'ZipMart Cai Rang', N'Ninh Kieu', N'Can Tho', N'555-1111', N'555-2222', N'900000', N'Ninh Kieu Branch', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Branch] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([ID], [supplierID], [brandName], [address], [createdate], [modifiedate], [createby], [modifieby]) VALUES (1, 1, N'Toshiba', N'Can Tho', NULL, NULL, NULL, NULL)
INSERT [dbo].[Brand] ([ID], [supplierID], [brandName], [address], [createdate], [modifiedate], [createby], [modifieby]) VALUES (2, 2, N'Mitsubishi', N'Can Tho', NULL, NULL, NULL, NULL)
INSERT [dbo].[Brand] ([ID], [supplierID], [brandName], [address], [createdate], [modifiedate], [createby], [modifieby]) VALUES (3, 3, N'NowFood', N'Can Tho', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [categoryName], [restockThreshold], [newAdjustment], [description]) VALUES (1, N'Household Appliances', 0, 700, N'Home electronic devices')
INSERT [dbo].[Categories] ([ID], [categoryName], [restockThreshold], [newAdjustment], [description]) VALUES (2, N'Spices', 500, 0, N'Various cooking spices')
INSERT [dbo].[Categories] ([ID], [categoryName], [restockThreshold], [newAdjustment], [description]) VALUES (3, N'Meat', 500, 0, N'Various meat products')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Genders] ON 

INSERT [dbo].[Genders] ([ID], [genderName], [description], [createdate], [modifiedate], [createby], [modifieby]) VALUES (1, N'Male', N'Male', NULL, NULL, NULL, NULL)
INSERT [dbo].[Genders] ([ID], [genderName], [description], [createdate], [modifiedate], [createby], [modifieby]) VALUES (2, N'FeMale', N'FeMale', NULL, NULL, NULL, NULL)
INSERT [dbo].[Genders] ([ID], [genderName], [description], [createdate], [modifiedate], [createby], [modifieby]) VALUES (3, N'Other', N'Other', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Genders] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportOrder] ON 

INSERT [dbo].[ImportOrder] ([ID], [supplierID], [categoryID], [branchID], [companyName], [dateImport], [hsCode], [nameProduct], [amountDelivery], [address], [city], [phone], [fax], [postalCode], [description], [status], [leadtime], [createdate], [modifiedate], [createby], [modifieby]) VALUES (1, 1, 1, 1, N'ZipMart co.', CAST(N'2023-01-15T00:00:00.000' AS DateTime), 85166090, N'Kitchen infrared', 100, N'Ninh Kieu', N'Can Tho', N'555-1111', N'555-2222', N'900000', N'Import of Kitchen infrared', N'Pending', 4, NULL, NULL, NULL, NULL)
INSERT [dbo].[ImportOrder] ([ID], [supplierID], [categoryID], [branchID], [companyName], [dateImport], [hsCode], [nameProduct], [amountDelivery], [address], [city], [phone], [fax], [postalCode], [description], [status], [leadtime], [createdate], [modifiedate], [createby], [modifieby]) VALUES (2, 1, 2, 6, N'ZipMart co.', CAST(N'2023-01-15T00:00:00.000' AS DateTime), 73239390, N'Stainless Steel Pot', 30, N'Ninh Kieu', N'Can Tho', N'555-4321', N'555-2334', N'900000', N'Import of Stainless Steel Pot', N'In Progress', 2, NULL, NULL, NULL, NULL)
INSERT [dbo].[ImportOrder] ([ID], [supplierID], [categoryID], [branchID], [companyName], [dateImport], [hsCode], [nameProduct], [amountDelivery], [address], [city], [phone], [fax], [postalCode], [description], [status], [leadtime], [createdate], [modifiedate], [createby], [modifieby]) VALUES (3, 1, 3, 1, N'ZipMart co.', CAST(N'2023-01-15T00:00:00.000' AS DateTime), 85166090, N'oil-free fryer', 50, N'Ninh Kieu', N'Can Tho', N'555-2123', N'555-4442', N'900000', N'Import of Kitchen infrared', N'Pending', 6, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ImportOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryStatus] ON 

INSERT [dbo].[InventoryStatus] ([ID], [statusName]) VALUES (1, N'INSTOCK')
INSERT [dbo].[InventoryStatus] ([ID], [statusName]) VALUES (2, N'LOWSTOCK')
INSERT [dbo].[InventoryStatus] ([ID], [statusName]) VALUES (3, N'OUTOFSTOCK')
SET IDENTITY_INSERT [dbo].[InventoryStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([ID], [permissionName], [createdate], [modifiedate], [createby], [modifieby]) VALUES (1, N'manager', NULL, NULL, NULL, NULL)
INSERT [dbo].[Permissions] ([ID], [permissionName], [createdate], [modifiedate], [createby], [modifieby]) VALUES (2, N'employee', NULL, NULL, NULL, NULL)
INSERT [dbo].[Permissions] ([ID], [permissionName], [createdate], [modifiedate], [createby], [modifieby]) VALUES (3, N'customer', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([ID], [companyName], [contactName], [contactTitle], [address], [city], [postalCode], [phone], [fax], [homePage], [description], [createdate], [modifiedate], [createby], [modifieby]) VALUES (1, N'GO! VIETNAM', N'John Doe', N'Manager', N'Ninh Kieu', N'Can Tho', N'900000', N'555-1234', N'555-5678', N'https://go-vietnam.vn/', N'Supplier Description', NULL, NULL, NULL, NULL)
INSERT [dbo].[Suppliers] ([ID], [companyName], [contactName], [contactTitle], [address], [city], [postalCode], [phone], [fax], [homePage], [description], [createdate], [modifiedate], [createby], [modifieby]) VALUES (2, N'WinCommerce General Trading Services Joint Stock Company', N'Jane Smith', N'Sales Representative', N'Binh Thuy', N'Can Tho', N'900000', N'67890', N'555-9876', N'https://winmart.vn/', N'Supplier Description', NULL, NULL, NULL, NULL)
INSERT [dbo].[Suppliers] ([ID], [companyName], [contactName], [contactTitle], [address], [city], [postalCode], [phone], [fax], [homePage], [description], [createdate], [modifiedate], [createby], [modifieby]) VALUES (3, N'The CocaCola Company', N'Bob Johnson', N'Owner', N'Thot Not', N'Can Tho', N'900000', N'555-1111', N'555-2222', N'https://www.coca-cola.com/vn/vi', N'Supplier Description', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[ThresholdAdjustment] ON 

INSERT [dbo].[ThresholdAdjustment] ([ID], [categoryID], [reasonAdjustment], [new_restockThreshold], [dateAdjusted], [statusThresholdAdjustments]) VALUES (1, 1, N'Low Inventory', 700, CAST(N'2023-01-15T08:30:00.000' AS DateTime), N'Accept')
INSERT [dbo].[ThresholdAdjustment] ([ID], [categoryID], [reasonAdjustment], [new_restockThreshold], [dateAdjusted], [statusThresholdAdjustments]) VALUES (2, 2, N'Excess Inventory', 500, CAST(N'2023-02-20T10:45:00.000' AS DateTime), N'Pending')
SET IDENTITY_INSERT [dbo].[ThresholdAdjustment] OFF
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Products_AdjustmentThreshold]  DEFAULT ((0)) FOR [newAdjustment]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Perr_Cus]  DEFAULT ((3)) FOR [customer_group]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Status_Cus]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Perr_Emp]  DEFAULT ((2)) FOR [employee_group]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Status_Emp]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Managers] ADD  CONSTRAINT [DF_Perr_Mana]  DEFAULT ((1)) FOR [manager_group]
GO
ALTER TABLE [dbo].[Managers] ADD  CONSTRAINT [DF_Status_Mana]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_UnitPrice]  DEFAULT ((0)) FOR [unitPrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Inventory]  DEFAULT ((1)) FOR [inventoryStatus]
GO
ALTER TABLE [dbo].[Brand]  WITH NOCHECK ADD  CONSTRAINT [FK_Brand_Supplier] FOREIGN KEY([supplierID])
REFERENCES [dbo].[Suppliers] ([ID])
GO
ALTER TABLE [dbo].[Brand] CHECK CONSTRAINT [FK_Brand_Supplier]
GO
ALTER TABLE [dbo].[Customer_Card]  WITH CHECK ADD  CONSTRAINT [FK_CustomerCard_Card] FOREIGN KEY([card_ID])
REFERENCES [dbo].[Cards] ([ID])
GO
ALTER TABLE [dbo].[Customer_Card] CHECK CONSTRAINT [FK_CustomerCard_Card]
GO
ALTER TABLE [dbo].[Customer_Card]  WITH CHECK ADD  CONSTRAINT [FK_CustomerCard_Customer] FOREIGN KEY([customer_ID])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[Customer_Card] CHECK CONSTRAINT [FK_CustomerCard_Customer]
GO
ALTER TABLE [dbo].[Customer_Feedback]  WITH CHECK ADD  CONSTRAINT [FK_CustomerFeedback_Customer] FOREIGN KEY([customer_ID])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[Customer_Feedback] CHECK CONSTRAINT [FK_CustomerFeedback_Customer]
GO
ALTER TABLE [dbo].[Customer_Feedback]  WITH CHECK ADD  CONSTRAINT [FK_CustomerFeedback_Feedback] FOREIGN KEY([feedback_ID])
REFERENCES [dbo].[Feedbacks] ([ID])
GO
ALTER TABLE [dbo].[Customer_Feedback] CHECK CONSTRAINT [FK_CustomerFeedback_Feedback]
GO
ALTER TABLE [dbo].[Customer_Genders]  WITH CHECK ADD  CONSTRAINT [FK_CustomerGender_Customer] FOREIGN KEY([customer_ID])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[Customer_Genders] CHECK CONSTRAINT [FK_CustomerGender_Customer]
GO
ALTER TABLE [dbo].[Customer_Genders]  WITH CHECK ADD  CONSTRAINT [FK_CustomerGender_Gender] FOREIGN KEY([gender_ID])
REFERENCES [dbo].[Genders] ([ID])
GO
ALTER TABLE [dbo].[Customer_Genders] CHECK CONSTRAINT [FK_CustomerGender_Gender]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Group] FOREIGN KEY([customer_group])
REFERENCES [dbo].[Permissions] ([ID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customer_Group]
GO
ALTER TABLE [dbo].[Employee_Blog]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeBlog_Blog] FOREIGN KEY([blog_ID])
REFERENCES [dbo].[Blogs] ([ID])
GO
ALTER TABLE [dbo].[Employee_Blog] CHECK CONSTRAINT [FK_EmployeeBlog_Blog]
GO
ALTER TABLE [dbo].[Employee_Blog]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeBlog_Employee] FOREIGN KEY([employee_ID])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[Employee_Blog] CHECK CONSTRAINT [FK_EmployeeBlog_Employee]
GO
ALTER TABLE [dbo].[Employee_Genders]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeGender_Employee] FOREIGN KEY([employee_ID])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[Employee_Genders] CHECK CONSTRAINT [FK_EmployeeGender_Employee]
GO
ALTER TABLE [dbo].[Employee_Genders]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeGender_Gender] FOREIGN KEY([gender_ID])
REFERENCES [dbo].[Genders] ([ID])
GO
ALTER TABLE [dbo].[Employee_Genders] CHECK CONSTRAINT [FK_EmployeeGender_Gender]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Group] FOREIGN KEY([employee_group])
REFERENCES [dbo].[Permissions] ([ID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employee_Group]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_FeedBack_Customer] FOREIGN KEY([customer_ID])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_FeedBack_Customer]
GO
ALTER TABLE [dbo].[ImportOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_Import_Branch] FOREIGN KEY([branchID])
REFERENCES [dbo].[Branch] ([ID])
GO
ALTER TABLE [dbo].[ImportOrder] CHECK CONSTRAINT [FK_Import_Branch]
GO
ALTER TABLE [dbo].[ImportOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_Import_Category] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[ImportOrder] CHECK CONSTRAINT [FK_Import_Category]
GO
ALTER TABLE [dbo].[ImportOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_Import_Supplier] FOREIGN KEY([supplierID])
REFERENCES [dbo].[Suppliers] ([ID])
GO
ALTER TABLE [dbo].[ImportOrder] CHECK CONSTRAINT [FK_Import_Supplier]
GO
ALTER TABLE [dbo].[Manager_Genders]  WITH CHECK ADD  CONSTRAINT [FK_ManagerGender_Gender] FOREIGN KEY([gender_ID])
REFERENCES [dbo].[Genders] ([ID])
GO
ALTER TABLE [dbo].[Manager_Genders] CHECK CONSTRAINT [FK_ManagerGender_Gender]
GO
ALTER TABLE [dbo].[Manager_Genders]  WITH CHECK ADD  CONSTRAINT [FK_ManagerGender_Manager] FOREIGN KEY([manager_ID])
REFERENCES [dbo].[Managers] ([ID])
GO
ALTER TABLE [dbo].[Manager_Genders] CHECK CONSTRAINT [FK_ManagerGender_Manager]
GO
ALTER TABLE [dbo].[Managers]  WITH CHECK ADD  CONSTRAINT [FK_Manager_Group] FOREIGN KEY([manager_group])
REFERENCES [dbo].[Permissions] ([ID])
GO
ALTER TABLE [dbo].[Managers] CHECK CONSTRAINT [FK_Manager_Group]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Order_Details_Orders] FOREIGN KEY([orderID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_Order_Details_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Order_Details_Pro] FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_Order_Details_Pro]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([customerID])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Employees] FOREIGN KEY([employeeID])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Employees]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_Brands] FOREIGN KEY([brandID])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brands]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_InventoryStatus] FOREIGN KEY([inventoryStatus])
REFERENCES [dbo].[InventoryStatus] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_InventoryStatus]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([supplierID])
REFERENCES [dbo].[Suppliers] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
ALTER TABLE [dbo].[ThresholdAdjustment]  WITH NOCHECK ADD  CONSTRAINT [FK_Adjustment_WP] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[ThresholdAdjustment] CHECK CONSTRAINT [FK_Adjustment_WP]
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD  CONSTRAINT [CK_CardNumberFormat] CHECK  ((len([cardNumber])=(16) AND [cardNumber] like '[0-9][0-9][0-9][0-9] [0-9][0-9][0-9][0-9] [0-9][0-9][0-9][0-9] [0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Cards] CHECK CONSTRAINT [CK_CardNumberFormat]
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD  CONSTRAINT [CK_cvvNumber] CHECK  ((len([cvvNumber])=(3) AND [cvvNumber] like '[0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Cards] CHECK CONSTRAINT [CK_cvvNumber]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [CK_Birthdate_Customer] CHECK  (([birthDate]<getdate()))
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [CK_Birthdate_Customer]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [CK_Birthdate] CHECK  (([birthDate]<getdate()))
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CK_Birthdate]
GO
/****** Object:  StoredProcedure [dbo].[Sales by Year]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create procedure Sales by Year
create procedure [dbo].[Sales by Year] 
	@Beginning_Date DateTime, @Ending_Date DateTime AS
SELECT OrderDetails.ShipDate, Orders.ID, "Order Subtotals".Subtotal, DATENAME(yy,ShipDate) AS Year
FROM Orders 
INNER JOIN "Order Subtotals" ON Orders.ID = "Order Subtotals".OrderID
INNER JOIN OrderDetails ON Orders.ID = OrderDetails.orderID
WHERE OrderDetails.ShipDate Between @Beginning_Date And @Ending_Date
GO
/****** Object:  Trigger [dbo].[trg_Products_UpdateQuantityInStock]    Script Date: 1/17/2024 9:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------Enforce quantity <= quantityInStock------
CREATE TRIGGER [dbo].[trg_Products_UpdateQuantityInStock]
ON [dbo].[Products]
AFTER INSERT, UPDATE
AS
BEGIN
    IF UPDATE(quantity)
    BEGIN
        UPDATE Products
        SET quantityInStock = quantity
        WHERE ID IN (SELECT ID FROM inserted);
    END
END;
GO
ALTER TABLE [dbo].[Products] ENABLE TRIGGER [trg_Products_UpdateQuantityInStock]
GO
/****** Object:  Trigger [dbo].[trg_UpdateRestockThreshold]    Script Date: 1/17/2024 9:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 -----------Enforce restockThreshold in Categories table----------
CREATE TRIGGER [dbo].[trg_UpdateRestockThreshold]
ON [dbo].[ThresholdAdjustment]
AFTER INSERT
AS
BEGIN
    IF UPDATE(statusThresholdAdjustments)
        AND EXISTS (SELECT 1 FROM inserted WHERE statusThresholdAdjustments = 'Accept')
    BEGIN
        UPDATE Categories
        SET restockThreshold = newAdjustment,  -- Update restockThreshold using newAdjustment
            newAdjustment = i.new_restockThreshold  -- Capture new_restockThreshold for future reference
        FROM inserted i
        WHERE Categories.ID = i.categoryID;
    END
END;
GO
ALTER TABLE [dbo].[ThresholdAdjustment] ENABLE TRIGGER [trg_UpdateRestockThreshold]
GO
